<form autocomplete="off">
    <h1 class="w3-row">
        <img class="w3-col" style="width: 64px;" src="{{item.img}}" name="{{item.name}}" width="64" height="64">
        <p class="w3-half">{{item.name}}</p>
        <div class="w3-rest">
            <input class="w3-border-0 w3-transparent em_noShadow" style="max-width:4em;font-size:1em;" type="text" value="{{item.stack.value}}">/
            <input class="w3-border-0 w3-transparent em_noShadow" style="max-width:4em;font-size:1em;" type="text" value="{{item.stack.max}}">
        </div>
    </h1>
</form>