<div class="em_medicalInfoContainer">
    <div>
        {{!-- anatomy view --}}
        <div class="em_anatomyContainer w3-container w3-card w3-border">
            {{#with actor.system.anatomy as |anatomy|}}
                {{!-- we check what method to use when displaying the anatomy --}}
                {{#if (eq anatomy.viewType "chart") }}
                    <div>
                        
                    </div>
                {{else if (eq anatomy.viewType "tree") }}
                    <!--#region anatomy tree-->
                    {{!-- Customize the rendering of the nested <ul> --}}
                    <ul class="em_anatomyTree em_anatomyList w3-bar-block">
                        <li class="w3-button w3-border w3-bar-item w3-center w3-black em_anatomyTreeTitle">
                            ANATOMY TREE
                        </li>
                        {{#TreeExplorer "dropdown-content em_anatomyList w3-bar-block" "" anatomy.tree as |TreeNode| }}
                            {{#if (gt this.children.length 0)}}
                                <li class="dropdown-btn em_anatomyNode em_anatomyBranch w3-button w3-border w3-bar-item 
                                {{#if (hasRole "KEEPER")}}hint--top{{/if}}"
                                {{#if (hasRole "KEEPER")}}
                                    aria-label="{{this.id}}"
                                {{/if}}
                                id="{{this.id}}" data-id="{{this.id}}">
                                    {{#if (hasRole "KEEPER")}}
                                        <i class="em_anatomyBranchIcon em_anatomyDeleteIcon fa-solid fa-trash" data-id="{{this.id}}"></i>
                                    {{/if}}
                                    {{this.name}}
                                    <i class="dropdown-icon em_anatomyBranchIcon fa-solid fa-chevron-down"></i>
                                </li>
                            {{else}}
                                <li class="em_anatomyNode em_anatomyLeaf w3-button w3-border w3-bar-item 
                                {{#if (hasRole "KEEPER")}}hint--top{{/if}}"
                                {{#if (hasRole "KEEPER")}}
                                    aria-label="{{this.id}}"
                                {{/if}}
                                id="{{this.id}}" data-id = "{{this.id}}">
                                    {{#if (hasRole "KEEPER")}}
                                        <i class="em_anatomyBranchIcon em_anatomyDeleteIcon fa-solid fa-trash"></i>
                                    {{/if}}
                                    {{this.name}}
                                </li>
                            {{/if}}
                        {{/TreeExplorer}}
                    </ul>
                    <!--#endregion-->
                {{else }}
                    <p>{{i18n CONFIG.EmConfig.ERRORS.MISSING_ANATOMY_TYPE_ERROR}}</p>
                {{/if}}
            {{/with}}
        </div>
        {{!-- bodypart data viewer --}}
        <div class="em_itemContainer em_bodypartInfo w3-card w3-section">
            {{#if (hasRole "KEEPER")}} 
                {{!--header --}}
                <div class="em_bodypartHeader w3-bar w3-display-container">
                    <a id="em_bodypart_id" class="w3-bar-item em_itemIdContainer" data-id=""></a>
                    <a id="em_bodypart_createBtn" class="w3-bar-item w3-display-right" data-id="">
                        <i id="em_bodypart_createIcon" class="fa-solid fa-plus"></i>
                    </a>
                </div>
            {{/if}}
            {{> "systems/EldritchMadness/templates/sheets/items/bodypart-sheet.hbs"}} 
            {{!-- conditions --}}
            <div>
                <select class="w3-select w3-container em_noShadow em_bodypart_conditions">
                    {{#each CONFIG.EmConfig.MEDICAL_CONDITION_TYPES as |conditionType| }}
                        <option>{{i18n conditionType}}</option>
                    {{/each}}
                </select>
                {{!-- conditions holder --}}
                <div class="em_bodypart_conditionHolder">
                    <div class="em_bodypartBuffs">

                    </div>
                    <div class="em_bodypart_debuffs">

                    </div>
                    <div class="em_bodypart_injuries">

                    </div>
                    <div class="em_bodypart_psyche">

                    </div>
                    <div class="em_bodypart_illnesses">

                    </div>
                </div>
            </div>
            {{#if (hasRole "KEEPER")}}
                <button class="w3-border em_noShadow w3-hover-light-grey" style="margin-left:0;">edit</button>
            {{/if}}
        </div>
    </div>
    
</div>