<div class="em_actorMedicalInfoContainer">
    <div class="w3-container">
        <select class="w3-select w3-container em_noShadow" style="min-height: 2em;height:2.5em;">
            {{#each CONFIG.EmConfig.MEDICAL_CONDITION_TYPES as |conditionType| }}
                <option>{{i18n conditionType}}</option>
            {{/each}}
        </select>
    </div>
    <div class="anatomyContainer">
        <!-- we check what method to use when displaying the anatomy -->
        {{#if (eq actor.system.anatomy.viewType "chart") }}
            <div>
                
            </div>
        {{else if (eq actor.system.anatomy.viewType "tree") }}
            {{!-- Customize the rendering of the nested <ul> --}}
            <ul class="anatomyTree">
                <li>{{fetch (fetch actor.system.anatomy.parts actor.system.anatomy.tree.id) "name"}}</li>
                {{#TreeExplorer actor.system.anatomy.tree.id "dropdown-content" "" actor.system.anatomy.tree.children as |treeNode| }}
                {{#if (gt this.children.length 0)}}
                    <li>alfa</li>
                {{else}}
                    <li>{{this.id}}</li>
                {{/if}}
                {{/TreeExplorer}}
            </ul>
            
        {{else }}
            <p>{{i18n CONFIG.EmConfig.ERRORS.MISSING_ANATOMY_TYPE_ERROR}}</p>
        {{/if}}
    </div>
</div>