<div class="em_medicalInfoContainer">
    <div>
        {{!-- anatomy view --}}
        <div class="em_anatomyContainer w3-container w3-card w3-border">
            {{#with actor.system.anatomy as |anatomy|}}
                {{!-- we check what method to use when displaying the anatomy --}}
                {{#if (eq anatomy.viewType "chart") }}
                    <div>
                        
                    </div>
                {{else if (eq anatomy.viewType "tree") }}
                    <!--#region anatomy tree-->
                    {{!-- Customize the rendering of the nested <ul> --}}
                    <ul class="em_anatomyTree em_anatomyList w3-bar-block">
                        <li class="dropdown-btn em_anatomyNode em_anatomyBranch w3-button w3-border w3-bar-item hint--bottom" 
                            {{#if (hasRole "KEEPER")}}
                                aria-label="{{anatomy.tree.id}}"
                            {{/if}}
                            id="{{anatomy.tree.id}}" data-id="{{anatomy.tree.id}}">
                            {{anatomy.tree.name}}
                            <i class="dropdown-icon em_anatomyBranchIcon fa-solid fa-chevron-down"></i>
                            
                        </li>
                        {{#TreeExplorer anatomy.tree.id "dropdown-content em_anatomyList w3-bar-block" "" anatomy.tree.children as |treeNode| }}
                        {{#if (gt this.children.length 0)}}
                            <li class="dropdown-btn em_anatomyNode em_anatomyBranch w3-button w3-border w3-bar-item hint--top"
                             {{#if (hasRole "KEEPER")}}
                                aria-label="{{this.id}}"
                            {{/if}}
                            id="{{this.id}}" data-id = "{{this.id}}">
                                {{this.name}}
                                <i class="dropdown-icon em_anatomyBranchIcon fa-solid fa-chevron-down"></i>
                            </li>
                        {{else}}
                            <li class="em_anatomyNode em_anatomyLeaf w3-button w3-border w3-bar-item hint--top"
                            {{#if (hasRole "KEEPER")}}
                                aria-label="{{this.id}}"
                            {{/if}}
                            id="{{this.id}}" data-id = "{{this.id}}">
                                {{this.name}}
                            </li>
                        {{/if}}
                        {{/TreeExplorer}}
                        <!--#endregion-->
                    </ul>
                {{else }}
                    <p>{{i18n CONFIG.EmConfig.ERRORS.MISSING_ANATOMY_TYPE_ERROR}}</p>
                {{/if}}
            {{/with}}
        </div>
        {{!-- bodypart data viewer --}}
        <div class="em_bodypartInfo w3-card w3-section">
            {{#if (hasRole "KEEPER")}} 
                {{!--header --}}
                <div class="em_bodypartHeader w3-bar w3-display-container">
                    <a id="em_bodypart_id" class="w3-bar-item"></a>
                    <a id="em_bodypart_createBtn" class="w3-bar-item w3-display-right" data-id="">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                </div>
            {{/if}}
            {{!-- name and hp bar --}}
            <div class="w3-container">
                <div class="w3-border em_inputContainer" style="margin-top:5px;">
                    <input id="em_bodypart_name" class="em_input w3-center" name="bodypart_name" value="" readonly="true">
                    {{#if (hasRole "KEEPER")}}
                        <i class="em_inputIcon em_readonlyIcon fa-solid fa-pen"></i>
                    {{/if}}
                </div>
                {{!-- since bodyparts don't use temp durability we only need  this type of bar --}}
                <div class="em_barContainer w3-round w3-border">
                    {{!-- bodypars use durability as hp --}}
                    <input id="em_bodypart_hp" class="em_barValue" name="bodypart_hp" type="hidden" value="0.5">
                    <div id="em_bodypart_hpBar" class="w3-red em_bar w3-round">
                    </div>
                </div>
            </div>
            {{!-- type and attached to --}}
            <div class="w3-container">
                <div class="em_form_inputContainer">
                    <label for="bodypart_type" class="em_form_inputElement">body type</label>
                    <div class="w3-border em_inputContainer em_form_inputElement">
                        <input id="em_bodypart_type" class="em_input" name="bodypart_type" value="" readonly="true">
                        {{#if (hasRole "KEEPER")}}
                            <i class="em_inputIcon em_readonlyIcon fa-solid fa-pen"></i>
                        {{/if}}
                    </div>
                </div>
                <div class="em_form_inputContainer">
                    <label for="bodypart_attached" class="em_form_inputElement">attached to</label>
                    <div class="w3-border em_inputContainer em_form_inputElement">
                        <input id="em_bodypart_attached" class="em_input" name="bodypart_attached" value="" data-attachedId="" readonly="true">
                        {{#if (hasRole "KEEPER")}}
                            <i class="em_inputIcon em_readonlyIcon fa-solid fa-pen"></i>
                        {{/if}}
                    </div>
                </div>
                
            </div>
            {{!-- conditions --}}
            <div>
                <select class="w3-select w3-container em_noShadow em_bodypartConditions">
                    {{#each CONFIG.EmConfig.MEDICAL_CONDITION_TYPES as |conditionType| }}
                        <option>{{i18n conditionType}}</option>
                    {{/each}}
                </select>
                {{!-- conditions holder --}}
                <div class="em_bodypart_conditionHolder">
                    <div class="em_bodypartBuffs">

                    </div>
                    <div class="em_bodypart_debuffs">

                    </div>
                    <div class="em_bodypart_injuries">

                    </div>
                    <div class="em_bodypart_psyche">

                    </div>
                    <div class="em_bodypart_illnesses">

                    </div>
                </div>
            </div>
            {{#if (hasRole "KEEPER")}}
                <button class="w3-border em_noShadow w3-hover-light-grey" style="margin-left:0;">add</button>
            {{/if}}
        </div>
    </div>
    
</div>