<div class="em_item_destroyableInterface em_halfSection">
    {{!-- durability bar section --}}
    <div>
        <div id="em_item_durabilityBar" 
        class="w3-border w3-light-gray w3-round w3-display-container em_barContainer {{#if (hasRole "KEEPER")}}dropdown-btn em_barDropdown{{/if}}" 
            data-value="{{item.system.durability.value}}" data-valueMax="{{item.system.durability.max}}" 
            data-temp="{{item.system.durability.temp}}" data-tempMax="{{item.system.durability.maxTemp}}" 
            {{#if (hasRole "KEEPER")}}data-id="bar_dur"{{/if}}
        >
            {{#if (hasRole "KEEPER")}}<i class="fa-solid fa-chevron-down w3-display-left w3-light-gray dropdown-icon em_barDropdownIcon"></i>{{/if}}
            <span class="w3-center w3-display-middle em_barTxt">100 / 100 + 50</span>
            <div class="w3-container w3-center w3-round em_bar" data-primaryColor="{{CONFIG.EmConfig.BAR_COLORS.ITEM.HP.PRIMARY}}" data-secondaryColor="{{CONFIG.EmConfig.BAR_COLORS.ITEM.HP.TEMP}}">
            </div>
        </div>
        {{#if (hasRole "KEEPER")}}
        {{!-- this allows setting the durability bar's value, min and max --}}
        <div class="dropdown-content em_hidden w3-border w3-light-gray" for="bar_dur">
            <div class="em_leftContainer">
                {{!-- value --}}
                <div class="em_halfSection">
                    {{!-- labels --}}
                    <div class="w3-cell-row ">
                        <div class="w3-cell" style="width:33%">
                            <p class="w3-center em_input_cell em_halfContainer" style="width:calc(90% - 12px);margin-left:0;">min</p>
                        </div>
                        <div class="w3-cell" style="width:33%">
                            <p class="w3-center em_input_cell em_halfContainer" style="width:calc(90% - 12px);margin-left:0;">value</p>
                        </div>
                        <div class="w3-cell" style="width:33%">
                            <p class="w3-center em_input_cell em_halfContainer" style="width:calc(90% - 12px);margin-left:0;">max</p>
                        </div>
                    </div>
                    {{!-- inputs --}}
                    <div class="w3-cell-row">
                        <div class="w3-cell" style="width:33%">
                            <input id="em_item_durabilityMin" class="w3-center em_input_cell em_halfContainer em_field" type="number"
                            name="item.system.durability.min" value="{{item.system.durability.min}}" style="width:calc(90% - 12px)">
                        </div>
                        <div class="w3-cell" style="width:33%">
                            <input id="em_item_durabilityValue" class="w3-center em_input_cell em_halfContainer em_field" type="number"
                            name="item.system.durability.value" value="{{item.system.durability.value}}" style="width:calc(90% - 12px)">
                        </div>
                        <div class="w3-cell" style="width:33%">
                            <input id="em_item_durabilityMax" class="w3-center em_input_cell em_halfContainer em_field" type="number"
                                name="item.system.durability.max" value="{{item.system.durability.max}}" style="width:calc(90% - 12px)">
                        </div>
                    </div>
                </div>
                {{!-- temp values --}}
                <div class="em_halfSection">
                    {{! -- labels --}}
                    <div class="w3-cell-row ">
                        <div class="w3-cell" style="width:33%">
                            <p class="w3-center em_input_cell em_halfContainer" style="width:calc(90% - 12px);margin-left:0;">temp min</p>
                        </div>
                        <div class="w3-cell" style="width:33%">
                            <p class="w3-center em_input_cell em_halfContainer" style="width:calc(90% - 12px);margin-left:0;">temp</p>
                        </div>
                        <div class="w3-cell" style="width:33%">
                            <p class="w3-center em_input_cell em_halfContainer" style="width:calc(90% - 12px);margin-left:0;">temp max</p>
                        </div>
                    </div>
                    {{!-- inputs --}}
                    <div class="w3-cell-row">
                        <div class="w3-cell" style="width:33%">
                            <input id="em_item_durabilityMinTemp" class="w3-center em_input_cell em_halfContainer em_field" type="number"
                                name="item.system.durability.minTemp" value="{{item.system.durability.minTemp}}" style="width:calc(90% - 12px)">
                        </div>
                        <div class="w3-cell" style="width:33%">
                            <input id="em_item_durabilityTemp" class="w3-center em_input_cell em_halfContainer em_field" type="number"
                                name="item.system.durability.temp" value="{{item.system.durability.temp}}" style="width:calc(90% - 12px)">
                        </div>
                        <div class="w3-cell" style="width:33%">
                            <input id="em_item_durabilityMaxTemp" class="w3-center em_input_cell em_halfContainer em_field" type="number"
                                name="item.system.durability.maxTemp" value="{{item.system.durability.maxTemp}}" style="width:calc(90% - 12px)">
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        {{/if}}
    </div>
    {{#if (hasRole "KEEPER")}}
        {{!-- Keeper exclusive part --}}

        {{!-- checks (usableWhenBroken, Destroyable) --}}

        {{!-- effects (onBroken, onDurLoss, onDurGain) --}}

    {{/if}}
</div>