<div class="em_passport">
    <div class="em_passport_header w3-round-medium" >
        {{!-- since the config has a reference of the Country, we just have to fetch it from there by using the anatomy nationality --}}
        <h2 class="em_passport_country_name">
            {{!-- from the country we fetch the government name to translate --}}
            {{#with (fetch CONFIG.EmConfig.COUNTRIES actor.system.info.nationality) as |country|}}
                {{#with (fetch ../CONFIG.EmConfig.GOVERNMENTS country.system.government.type) as |government| }}
                    {{i18n government.name}} {{i18n government.preposition}}
                {{/with }}
                    {{i18n country.system.name}}
            {{/with}} 
        </h2>
    </div>
    <div class="em_passport_data">
        <div>
            <img class="em_passport_portrait w3-black w3-round-large" src="{{actor.img}}" name="actor.img" data-edit="img" title="{{actor.name}}" width="64" height="64">
            <div class="w3-rest">
                {{!-- name --}}
                <label class="em_passport_field em_passport_label em_halfTopMargin" for="name">{{i18n "em.actors.passport.fields.name"}}</label>
                <input class="em_passport_field em_passport_input em_halfSection" name="name" value="{{actor.name}}" {{#unless (hasRole "KEEPER")}}readonly="true"{{/unless}}>
            </div>
        </div>
        <div class="em_passport_fieldsContainer w3-section"> {{!-- this fields should be stacked one below the other --}}
            <!--#region nationality -->
            {{!-- GM settable nationality --}}
            <label class="em_passport_field em_passport_label" for="name">{{i18n "em.actors.passport.fields.nationality"}}</label>
            {{#if (hasRole "KEEPER")}}
                <select class="em_passport_field em_passport_input em_inline-field em_noShadow" name="actor.system.info.nationality">
                    {{#each CONFIG.EmConfig.COUNTRIES as |country key|}}
                        <option class="w3-white" {{#if (eq key ../actor.system.info.nationality) }}selected="true"{{/if}}>{{key}}</option>
                    {{/each}}
                </select>
            {{else}}
                {{!-- population name --}}
                {{#with (fetch CONFIG.EmConfig.COUNTRIES actor.system.info.nationality) as |country|}}
                    <input class="em_passport_field em_passport_input" name="pop_name" value="{{i18n country.system.population.name}}" readonly="true">
                {{/with}}
            {{/if}}
            <!--#endregion -->
            {{!-- age --}}
            <label class="em_passport_field em_passport_label" for="actor.system.anatomy.age">{{i18n "em.actors.passport.fields.age"}}</label>
            <input class="em_passport_field em_passport_input em_inline-field w3-center" name="actor.system.anatomy.age" value="{{actor.system.anatomy.age}}" type="number" "1" step="1" {{#unless (hasRole "KEEPER")}}readonly="true"{{/unless}}>
            {{!-- sex --}}
            <label class="em_passport_field em_passport_label" for="actor.system.anatomy.sex">{{i18n "em.actors.passport.fields.sex"}}</label>
            <select class="em_passport_field em_passport_input em_inline-field em_noShadow w3-center" name="actor.system.anatomy.sex" {{#unless (hasRole "KEEPER")}}readonly="true"{{/unless}}>
                {{#each CONFIG.EmConfig.SEX as |this key|}}
                    <option class="w3-white w3-center" data-tosave="{{key}}" {{#if (eq key ../actor.system.anatomy.sex)}}selected="true"{{/if}}>
                        {{i18n this.short}} ({{i18n this.label}})
                    </option>
                {{/each}}
            </select>
            {{!-- work --}}

            <!--#region arcana | to be finished -->
            {{#if (contains actor.system.tags "beyonder")}}
                {{!-- arcana --}}
                <label class="em_passport_field em_passport_label" for="actor.system.anatomy.age">{{i18n "em.actors.passport.fields.age"}}</label>
                <input class="em_passport_field em_passport_input em_inline-field" name="actor.system.anatomy.age" value="{{actor.system.anatomy.age}}" {{#unless (hasRole "KEEPER")}}readonly="true"{{/unless}}>
                {{!-- sequence --}}
                <label class="em_passport_field em_passport_label" for="actor.system.anatomy.age">{{i18n "em.actors.passport.fields.age"}}</label>
                <input class="em_passport_field em_passport_input em_inline-field" name="actor.system.anatomy.age" value="{{actor.system.anatomy.age}}" {{#unless (hasRole "KEEPER")}}readonly="true"{{/unless}}>
            {{/if}}
            <!--#endregion-->
            
            {{!-- date of birth --}}
            <label class="em_passport_field em_passport_label" for="actor.system.info.origin.birthDate">{{i18n "em.actors.passport.fields.birthDate"}}</label>
            <input class="em_passport_field em_passport_input em_inline-field em_noShadow w3-center" type="date" name="actor.system.info.origin.birthDate" value="{{actor.system.info.origin.birthDate}}" {{#unless (hasRole "KEEPER")}}readonly="true"{{/unless}}>
            {{!-- born in --}}
            <label class="em_passport_field em_passport_label" for="actor.system.info.origin.address">{{i18n "em.actors.passport.fields.born"}}</label>
            <input class="em_passport_field em_passport_input em_inline-field" name="actor.system.info.origin.address" value="{{actor.system.info.origin.address}}" {{#unless (hasRole "KEEPER")}}readonly="true"{{/unless}}>
        </div>
        
    
    </div>
</div>