<form autocomplete="off">
    {{#if (hasRole "KEEPER")}}
        <h1>
            <img class="em_halfBottomMargin w3-border-0" src="{{actor.img}}" title="{{actor.name}}" width="64px" height="64px">
            {{#with (fetch EmActorConfig.GOVERNMENTS actor.system.government.type) as |government| }}
                {{localize government.name}} {{localize government.preposition}}
            {{/with}}
            {{localize actor.system.name}}
        </h1>
        <table class="em_table w3-table w3-bordered">
            <thead>
                <tr class="w3-black">
                    <td class="w3-center">property</td>
                    <td class="w3-center">value</td>
                    <td class="w3-center">displayed value</td>
                </tr>
            </thead>
            
            <tbody class="w3-white">
                {{!-- initial data --}}
                <tr>
                    <td class="w3-left">img</td>
                    <td class="w3-center w3-light-gray">
                        <input class="em_inline-field w3-border-0 w3-light-gray" name="actor.img" value="{{actor.img}}">
                    </td>
                    <td class="w3-center" style="margin:0;padding:0;">
                        <img class="w3-border-0" src="{{actor.img}}" width="32px" height="32px" style="margin:0;padding:0;">
                    </td>
                </tr>
                <tr>
                    <td class="w3-left">emblem</td>
                    <td class="w3-center w3-light-gray">
                        <input class="em_inline-field w3-border-0 w3-light-gray" name="actor.system.icon" value="{{actor.system.icon}}">
                    </td>
                    <td class="w3-center" style="margin:0;padding:0;">
                        <img class="w3-border-0" src="{{actor.system.icon}}" width="32px" height="32px" style="margin:0;padding:0;">
                    </td>
                </tr>
                <tr>
                    <td class="w3-left">name</td>
                    <td class="w3-center w3-light-gray">
                        <input class="em_inline-field w3-border-0 w3-light-gray" name="actor.system.name" value="{{actor.system.name}}">
                    </td>
                    <td class="w3-center">{{actor.system.name}}</td>
                </tr>
                <tr>
                    <td class="w3-left">population name</td>
                    <td class="w3-center w3-light-gray">
                        <input class="em_inline-field w3-border-0 w3-light-gray" name="actor.system.population.name" value="{{actor.system.population.name}}">
                    </td>
                    <td class="w3-center">{{actor.system.population.name}}</td>
                </tr>
                <tr>
                    <td class="w3-left">description</td>
                    <td class="w3-center w3-light-gray">
                        <input class="em_inline-field w3-border-0 w3-light-gray" name="actor.system.desc" value="{{actor.system.desc}}">
                    </td>
                    <td class="w3-center">
                        <textarea class="w3-left w3-white w3-border-0 form-textarea em_halfRightMargin">{{actor.system.desc}}</textarea>
                    </td>
                </tr>
                {{!-- government data --}}
                <tr>
                    <td colspan="3" style="padding: 0;margin:0;">
                        <h2 class="em_title w3-center w3-border w3-black" style="padding: 0;margin:0;">Government</h2>
                </td>
                </tr>
                <tr>
                    {{!-- the type and display data is fetched from the Config --}}
                    <td class="w3-left">government</td>
                    <td class="w3-center w3-light-gray">
                        <select class="em_inline-field em_noShadow w3-border-0 w3-light-gray" name="actor.system.government.type">
                            {{#each EmActorConfig.GOVERNMENTS as |this key|}}
                                <option class="w3-white" data-tosave="{{key}}" {{#if (eq key ../actor.system.government.type)}}selected="true"{{/if}}>
                                    {{key}}
                                </option> 
                            {{/each}}
                        </select>
                    </td>
                    <td class="w3-center">{{actor.system.government.type}}</td>
                </tr>
                <tr>
                    {{#with (fetch EmActorConfig.GOVERNMENTS actor.system.government.type) as |government| }}
                        <td class="w3-left">government name</td>
                        <td class="w3-light-gray">{{government.name}}</td>
                        <td class="w3-center">{{localize government.name}}</td>
                    {{/with}}
                </tr>
                {{!-- economy data --}}
                <tr>
                    <td colspan="3" style="padding: 0;margin:0;">
                        <h2 class="em_title w3-center w3-border w3-black" style="padding: 0;margin:0;">Economy</h2>
                    </td>
                </tr>
                <tr>
                    <td class="w3-left">coin icon</td>
                    <td class="w3-center w3-light-gray">
                        <input class="em_inline-field w3-border-0 w3-light-gray" name="actor.system.economy.coin_icon" value="{{actor.system.economy.coin_icon}}">
                    </td>
                    <td class="w3-center">
                        <i>{{localize actor.system.economy.coin_icon}}</i>
                    </td>
                </tr>
                <tr>
                    <td class="w3-left">coin image</td>
                    <td class="w3-center w3-light-gray">
                        <input class="em_inline-field w3-border-0 w3-light-gray" name="actor.system.economy.coin_img" value="{{actor.system.economy.coin_img}}">
                    </td>
                    <td class="w3-center"></td>
                </tr>
                <tr>
                    <td class="w3-left">coin name</td>
                    <td class="w3-center w3-light-gray">
                        <input class="em_inline-field w3-border-0 w3-light-gray" name="actor.system.economy.coin_name" value="{{actor.system.economy.coin_name}}">
                    </td>
                    <td class="w3-center">{{localize actor.system.economy.coin_name}}</td>
                </tr>
            </tbody>
        </table>
        {{!-- unfinished --}}
        <h1> TO BE CONTINUED LATER</h1>



    {{else}}
        <h1>{{localize errors.missingViewAuthorization}}</h1>
    {{/if}}
</form>