<form autocomplete="off">
    <header class="sheet-header">
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64">
        <h1><input name="name" type="text" value="{{actor.name}}" placeholder="name"></h1>
    </header>
    <p>dawk wek eraer 232</p>
    <button class="changeFirst">change first</button>
    <div>
        {{#each actor.items}}
        <p>{{this._id}} {{this.name}}</p>
        {{/each}}
    </div>
</form>