<form autocomplete="off">
    <header class="sheet-header">
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64">
        <h1><input name="name" type="text" value="{{actor.name}}" placeholder="name"></h1>
    </header>
    <div class="w3-bar w3-section">
        <div class="w3-bar-item w3-black">test</div>
    </div>
    <div>
        {{#each actor.items}}
        <p>{{this._id}} {{this.name}}</p>
        {{/each}}
    </div>
</form>